.example-appear {
  transform: translate(100%);
}

.example-appear.example-appear-active {
  transform: translate(0%);
  transition: transform 700ms ease-out;
}

.logoPage {
  width: 100%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    margin-bottom: 35px;
    text-align: center;
    .title {
      font-family: 'fs_sinclairmedium' !important;
      font-size: 3em;
      margin: 0;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      margin: 0;
      background-blend-mode: color;
      height: 200px;
      width: 200px;
      z-index: 1;
    }

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .top, .bototm {
        margin: 0;
        height: 200px;
      }

      .topCharm {
        margin-left: -200px;
        mix-blend-mode: darken;
      }
      .topCharmBG {
      }

      .bottomCharm {
        margin-left: -200px;
        mix-blend-mode: darken;
      }
      .bottomCharmBG {
      }
    }
  }
  .buttons {
    margin-top: 40px;

    .button {
      font-size: 2em;
      background: #091408;
      display: inline;
      color: white;
      padding: 2px 15px 5px 15px;
      margin: 10px;
      border-radius: 2px;
      transition: 0.3s all;
  
      &:hover {
        cursor: pointer;
        transition: 0.3s all;
        opacity: 0.5;
      }
    }
  }
}

  .modalContent {
    margin: 0;
    padding: 5px 25px 45px 25px;
    text-align: center;

    .logoTitle {
      font-family: 'fs_sinclairmedium' !important;
      text-transform: uppercase;      
    }

    .logoExplain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .explaination {
        margin: 0px 25px 0px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        max-width: 800px;
        .topCharm, .bottomCharm {
          mix-blend-mode: darken;
          margin-left: -75px;
        }
        img {
          width: 75px;
          height: 75px;
        }
        .colorBlock {
          margin: 0;
          width: 75px;
          height: 75px;
        }
        .desc {
          text-align: right;
          max-width: 80%;
          padding-right: 25px;
          text-wrap: wrap;
          font-size: 1.6em;
        }
      }
    }

    .button {
      margin-top: 25px;
      font-size: 1.5em;
      background: #091408;
      display: inline;
      color: white;
      padding: 2px 15px 5px 15px;
      margin: 10px;
      border-radius: 2px;
      transition: 0.3s all;
  
      &:hover {
        cursor: pointer;
        transition: 0.3s all;
        opacity: 0.5;
      }
    }
  }

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 400ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}