.questions {
  width: 80%;
  margin: auto;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .questions .header {
    text-align: center; }
    .questions .header .title {
      font-family: 'fs_sinclairmedium' !important;
      text-transform: uppercase;
      margin: 0;
      font-size: 4em; }
    .questions .header .subtitle {
      margin: 0;
      font-size: 2em; }
  .questions .buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    .questions .buttons .button {
      font-size: 2em;
      background: #091408;
      color: white;
      padding: 2px 15px 5px 15px;
      margin: 10px;
      border-radius: 2px;
      transition: 0.3s all; }
      .questions .buttons .button:hover {
        cursor: pointer;
        transition: 0.3s all;
        opacity: 0.5; }
    .questions .buttons .selectedValue {
      background: #666 !important; }
      .questions .buttons .selectedValue:hover {
        opacity: 0.5; }
    .questions .buttons #valueCollaboration {
      background: #6CB8E7; }
    .questions .buttons #valueCuriosity {
      background: #A1C854; }
    .questions .buttons #valueRigour {
      background: #F68352; }
    .questions .buttons #valueCreativity {
      background: #95609F; }
    .questions .buttons #valueResilience {
      background: #EC6271; }

.example-enter {
  transform: translate(100%);
  overflow: hidden; }

.example-enter.example-enter-active {
  overflow: hidden;
  transform: translate(0%);
  transition: transform 700ms ease-out; }

.example-leave {
  transform: translate(0%); }

.example-leave.example-leave-active {
  transform: translate(-100%);
  transition: transform 700ms ease-in; }
