body{
    text-align: center
    
}
.mdl-button{
    font-size: 24px;
    font-weight: bold;
    min-height: 50px;
    min-width: 300px;
    background-color: white;
}
.overlay {
  position: relative;
    opacity: 0.5;
}
.menu-button{
    margin-top:12px;
    padding-top:12px;
    
    
    
    
}

.welcome{
    background-color: black;
    
}
.mdl-dialog{
    
    min-width: 300px
    
}
.welcome-button{
    padding: 0px;
}
