.mdl-button{
    font-size: 18px;
    min-height: 50px;
    min-width: 200px;
    margin: 10px;
    background-color: aliceblue;
}
.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.dark:before {
  background-color: rgba(0,0,0,0.5);
}

.box * {
    position: relative;
    /* hack */
}