.body {
  margin: 0px;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  min-height: 600px;
    opacity: 0.8;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image-1 {
    background-image: url(../../img/frontpage/image1.png);
}

.image-2 {
  background-image: url(../../img/frontpage/image2.png);
}

.image-3 {
  background-image: url(../../img/frontpage/image3.png);
}

.image-4 {
  background-image: url(../../img/frontpage/image4.png);
}

.image-5 {
  background-image: url(../../img/frontpage/image5.png);
}