body{
    text-align: center
    
}
.menu-button{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    min-width:30%;
    min-height: 2%;
    margin-top: 3%;
    
}
.page-content{
    text-align: center
}
@media only screen and (max-width: 500px){
    .menu-button{
        padding-left: 0%;
            padding-right:0%;
        min-width: 80%
    }
}
.welcome-button{
    padding: 0px;
}
