body {
    font-size: 1em;
}

.menu-button {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    min-width: 12%;
    min-height: 2%;
    margin-top: 1%;
}

.page-content,
.button-zone {
    text-align: center
}
.header-button{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.Contact-Info{
    
    font-size: 1.5em
}

.back {
    background-color: aqua;
    margin-right: 10px
}

.map {
    height: 75%
}

.legend {}

.legend-box {
    text-align: center
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.8em;
    }
    h1 {
        font-size: 3em;
        font-weight: bold
    }
    h2 {
        font-size: 2.4em;
        font-weight: bold;
    }
    .menu-button {
        margin-top: 1%;
        padding-left: 0%;
        padding-right: 0%;
        min-width: 56%
    }
    .back {
        padding: 0px;
        font-size: 1.4em;
        background-color: aqua;
        width: 5%;
        margin-right: 8%
    }
    .roomDets {
        font-size: 0.7em;
        font-weight: bold;
    }
    .map {
    height: 68%
}

}
