body {
  color: white;
  background-color: black;
}

h1 {
  
  font-size: 2vw;
  opacity: 1;
}

.item-1 {
  background-image: url(../img/pImage1.JPG);
}

.item-2 {
  background-image: url(../img/pImage1.JPG);
}

.header-h1 {
/*  min-height: 100px;*/
  font-size: 4vw;
  font-weight: 1000;
}
.header-div{
/*  margin: 1vw;*/
  background-color: #111111;
}

.item {
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  min-height: 300px;
}
/*

.item .item-header-left {
  animation: shift-headr 0.7s forwards;
}
*/
.item .item-header-left, .item-header-right {
  animation: shift-headr 0.7s  forwards;
}
.item .item-caption-text {
  animation: shift-textr 0.7s  forwards;
}

.item:hover .item-header-left{
  animation: shift-head 0.7s  forwards;
}
.item:hover .item-header-right{
  animation: shift-head 0.7s  forwards;
}
.item:hover .item-caption-text {
  animation: shift-text 0.7s  forwards;
}

.item-header-left {
  z-index: 10;
  position: relative;
  float: left;
  display: inline-block;
  background-color: black;
  opacity: 0.6;
  margin: auto;
  width: 80%;
  min-height: inherit;
  text-align: center;
}

.item-caption-left {
  background-color: black;
  opacity: 0.6;
  min-height: inherit;
  text-align: center;
  margin: auto;
  width: 100%;
}

.item-header-right {
  z-index: 10;
  position: relative;
  float: right;
  display: inline-block;
  background-color: black;
  opacity: 0.6;
  margin: auto;
  width: 80%;
  min-height: inherit;
  text-align: center;
}

.item-caption-right {
  background-color: black;
  opacity: 0.6;
  min-height: inherit;
  text-align: center;
  margin: auto;
  width: 100%;
}

.item-header-text {
  display: block;
  margin: auto;
  padding-top: 3vw;
  vertical-align: middle;
}

.item-caption-text {
  color: black;
  display: block;
  margin: auto;
  padding-top: 5vw;
}

@keyframes shift-head {
  0% {
    width: 80%;
  }
  100% {
    width: 30%;
  }
}

@keyframes shift-headr {
  0% {
    width: 30%;
  }
  100% {
    width: 80%;
  }
}
@keyframes shift-text {
  0% {
    color: #000000;
  }
  100% {
    color: #FFFFFF;
  }
}
@keyframes shift-textr {
  0% {
    color: #FFFFFF;
  }
  100% {
    color: #000000;
  }
}